* {
  margin: 0;
  padding: 0;
}

header h1 {
  font-size: 4em;
}

section.main {
  width: 90%;
  max-width: 30em;
  margin: auto; 
}

.card {
  float: left;
  width: 8em;
  height: 8em;
  position: relative;
  background-color: black;
  margin: .5em; 
  transition: background-color 1s ease-in;
}

.card:nth-child(3n+4) {
  clear: left;
}

.card_value {
  font-size: 6em;
  text-align: center;
  color: black;
  display: none;
  position: absolute;
  margin: auto;
  top: 0; bottom: 0; left: 0; right: 0;
  transition: color 1s ease-in;
}